// RESET LDP

.title-cate{
    font: 900 22px/1.3 var(--font2);
    text-transform: uppercase;
    margin-bottom: 20px;
    position: relative;
    padding-left: 15px;
    border-left: 5px solid #1a4fd7;
    // &::before{
    //     content: "";
    //     background: #1a4fd7;
    //     position: absolute;
    //     width: 5px;
    //     height: 27px;
    //     left: 0;
    //     top: 3px;
    // }
    &.no-border{
        padding-left: 0;
        border-left: 0;
    }
    @media (max-width: 1199px) {
        font-size: 18px;
        margin-bottom: 15px;
        &::before{
            width: 4px;
            height: 23px;
        }
    }
}
.title-cate2{
    font: 700 30px/1.6 var(--font2);
    text-transform: uppercase;
    margin-bottom: 40px;
    @media (max-width: 1199px) {
        font-size: 22px;
        margin-bottom: 20px;
    }
}
// END RESET LDP

.bg-main,.bg-gray{
    background: #F4F6F8;
    padding: 30px 0;
    position: relative;
    min-height: 300px;
    &::before{
        content: "";
        background: linear-gradient(180deg, #CEDAF8 0%, #F4F6F8 100%);
        position: absolute;
        height: 240px;
        width: 100%;
        top: 0;
    }
}
.bg-gradient{
    background: linear-gradient(180deg, #CEDAF8 0%, rgba(244, 246, 248, 0.00) 100%);
    padding: 50px 0;
}

.box-link{
    &.grid{
        column-gap: 8px;
        row-gap: 8px;
    }
    .item{
        background: #2576e1 url(images/graphics/td-menu.png);
        background-size: cover;
        height: 0;
        position: relative;
        width: 100%;
        padding-bottom: 100%;
        .wrap{
            display: flex;
            gap: 32px;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            padding: 0 15px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            align-content: center;
            font: 700 15px/1.3 var(--font2);
            color: #fff;
            text-transform: uppercase;
        }
        .icon{
            width: 100%;
            img{
                height: 48px;
            }
        }
    }
}

.box-article{
    display: flex;
    gap: 24px;
    &__left{
        width: 100%;
    }
    &__right{
        width: 353px;
        padding-left: 24px;
        flex-shrink: 0;
        border-left: 1px solid #e5e5e5;
    }
    .flexbox{
        gap: 24px;
        &>.article-new{
            .title{font-size: 26px;}
        }
        .list{
            width: 264px;
            flex-shrink: 0;
            .article-new{
                &+.article-new{
                    border-top: 1px solid #e5e5e5;
                    margin-top: 20px;
                    padding-top: 20px;
                }
            }
        }
    }
    @media (max-width: 991px) {
        flex-wrap: wrap;
        &__left{
            width: 100%;
        }
        &__right{
            width: 100%;
            padding-left: 0;
            border-left: 0;
        }
    }
    @media (max-width: 767px) {
        .flexbox {
            flex-wrap: wrap;
            &>.article-new{
                border-bottom: 1px solid #e5e5e5;
                padding-bottom: 20px;
                .title{font-size: 22px;}
            }
            .list{
                width: 100%;
                .article-new{
                    flex-wrap: nowrap;
                    .article-thumb{
                        width: 150px;
                        flex-shrink: 0;
                    }
                }
            }
        }
    }
}
.list-small{
    .article-new{
        &+.article-new{
            border-top: 1px solid #e5e5e5;
            margin-top: 20px;
            padding-top: 20px;
        }
    }
}
.list-product{
    .article-new{
        .thumb_img {
            background: #fff;
            border-radius: 3px;
            border: 1px solid #f4f4f4;
            img{
                max-height: 100%;
                max-width: 100%;
                width: auto;
                height: auto;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
    }
    .flexbox{
        &>.article-new{
           .thumb_img {padding-bottom: 80%;}
        }
    }
    .grid {
        .article-new{
            background: #fff;
            .thumb_img{
                border: 0;
            }
            .article-content{padding:15px;}
        }
    }
}

.list-article{
    .article-new {
        .title{
            font-size: 20px;
        }
        &+.article-new{
            border-top: 1px solid #e5e5e5;
            padding-top: 24px;
            margin-top: 24px;
        }
    }
    @media screen and (max-width:1199px) {
        .article-new {
            .article-thumb{
                width: 150px;
            }
            .title{font-size: 17px;}
            .des{display: none;}
        }
    }
}

.box-doitac{
    position: relative;
    .flex{
        justify-content: center;
    }
    .logo-doitac{
        display: block;
        position: relative;
        height: 90px;
        width: 20%;
        img{
            max-height: 90%;
            max-width: 90%;
            width: auto;
            height: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
    @media screen and (max-width:767px) {
        background: #f4f6f8 !important;
        padding:24px 15px !important;
        margin-left: -15px;
        margin-right: -15px;
        width: calc(100% + 30px);
        
        .flex{
            justify-content: start;
            gap: 1px;
        }
        .logo-doitac{
            width: 49%;
            width: calc(50% - 1px);
            background: #fff;
            height: 110px;
            img{
                max-height: 80%;
                max-width: 80%;
            }
        }
    }

}

.so-do-lanhdao{
    background: linear-gradient(180deg, #CEDAF8 0%, rgba(244, 246, 248, 0.00) 100%);
    padding: 50px 0;
    position: relative;
    overflow: hidden;
    &::after{
        content: "";
        background: url(images/graphics/trongdong3.png);
        background-position: center;
        background-size: cover;
        position: absolute;
        bottom: -150px;
        height: 1000px;
        left: 80px;
        right: 80px;
        display: block;
    }
    .so-do{
        width: 843px;
        height: 843px;
        margin: 0 auto;
        margin-bottom: 100px;
        position: relative;
        z-index: 1;
        border-radius: 843px;
        border: 4px solid #FFF;
        background: radial-gradient(46.98% 46.98% at 50% 50%, #FFF 45%, rgba(255, 255, 255, 0.00) 100%);
        margin-top: 120px;
        .center-item{
            position: absolute;
            z-index: 1;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-size: 18px;
            text-transform: uppercase;
            color: #000;
            .info{
                width: 100%;
                margin: 0 auto;
                max-width: 342px;
            }
            .ava{
                width: 342px;
                max-width: 100%;
                border: 10px solid #FFF;
                background: linear-gradient(158deg, #DBA800 1.89%, #755A00 85.67%);
                box-shadow: 0px 0px 0px 2px #F0F0F0;
                border-radius: 50%;
                overflow: hidden;
                margin: 0 auto;
                margin-bottom: 15px;
                .thumb_img {
                    background-image: url(images/graphics/trongdong2.png);
                    background-size: cover;
                }
            }
            .name{
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 0;
            }
        }
        .item{
            text-align: center;
            font-size: 16px;
            color: #4F4F4F;
            .info{
                width: 100%;
                margin: 0 auto;
                max-width: 265px;
            }
            .ava{
                width: 152px;
                border: 10px solid #FFF;
                background: #D4CBAC url(images/graphics/trongdong.png);
                background-size: cover;
                box-shadow: 0px 0px 0px 2px #F0F0F0;
                border-radius: 50%;
                overflow: hidden;
                margin: 0 auto;
                margin-bottom: 15px;
            }
            .name{
                font-size: 18px;
                font-weight: bold;color: #000;
                margin-bottom: 0;
            }
            @media screen and (min-width:992px) {
                position: absolute;
                &:nth-child(2){
                    top: -100px;
                    left: 50%;
                    transform: translate(-50%, 0px);
                }
                &:nth-child(3){
                    top: -30px;
                    left: 100px;
                }
                &:nth-child(4){
                    top: -30px;
                    right: 100px;
                }
                &:nth-child(5){
                    top: 210px;
                    left: -70px;
                }
                &:nth-child(6){
                    top: 210px;
                    right: -70px;
                }
                &:nth-child(7){
                    top: 480px;
                    left: -50px;
                }
                &:nth-child(8){
                    top: 480px;
                    right: -50px;
                }
                &:nth-child(9){
                    bottom: -100px;
                    left: 140px;
                }
                &:nth-child(10){
                    bottom: -100px;
                    right: 140px;
                }
            }
        }
    }
    .connect{
        position: relative;
        z-index: 1;
        margin-top: -100px;
        .neo{
            max-width: 850px;
            margin: 0 auto;
        }
        .grid{
            text-align: center;
            h3{
                display: block;
                background: #0E2A72;
                text-transform: uppercase;
                color: #fff;
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 12px;
                padding: 12px;
            }
            ul{
                li{
                    text-transform: uppercase;
                    font-size: 16px;
                    padding: 24px;
                    background: #fff;
                    &+li{
                        margin-top: 12px;
                    }
                }
            }
        }
    }
    @media screen and (max-width:1199px) {
        &::after{
            left: 0;
            right: 0;
        }
    }
    @media (max-width: 991px) {
        .so-do{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            background: none;
            column-gap: 10px;
            row-gap: 10px;
            width: 100%;
            height: auto;
            border: 0;
            margin: 0 0 40px 0;
            .center-item{
                position: static;
                transform: translate(0%, 0%);
                grid-column: span 2;
                font-size: 16px;
                .ava{
                    width: 300px;
                }
            }
            .item{
                text-align: left;
                background: #fff;
                .info{
                    max-width: 100%;
                }
                .ava{
                    width: 100%;
                    border-radius: 0;
                    border: 0;
                    box-shadow: none;
                    background: #dba774 url(images/graphics/trongdong4.png);
                    background-size: cover;
                    margin-bottom: 12px;
                }
                .name{
                    padding: 0 12px;
                    font-size: 16px;
                }
                .postion{
                    padding: 5px 12px 12px 12px;
                    font-size: 14px;
                }
            }
        }
        .connect{
            margin-top: 0;
            .neo{display: none;}
            .grid__4{
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
    @media screen and (max-width:767px) {
        padding: 30px 0;
    }
}

.list-lanh-dao{
    .tab {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        background: #F2F4F8;
        padding: 4px;
        a{
            font-size: 16px;
            font-weight: 500;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 280px;
            border-radius: 34px;
            &.active{
                color: #fff;
                background: #1D6DBE;
            }
        }
    }
    .itemt{
        background: #F4F6F8;
        font-size: 14px;
        .ava{
            background: #DBA774 url(images/graphics/trongdong2.png);
            background-size: cover;
            
        }
        .info{
            padding: 12px;
            display: flex;
            flex-wrap: wrap;
            gap: 6px;
        }
        .name{
            font-size: 17px;
            font-weight: bold;
            margin-bottom: 0;
        }
        .position{margin-bottom: 0;width: 100%;}
    }
    @media (max-width: 600px) {
        .tab{
            width: 100%;
            a{
                width: 50%;height: 36px;
                font-size: 15px;
            }
        }
        .grid__5{
            grid-template-columns: repeat(1, 1fr);
            column-gap: 8px;
            row-gap: 8px;
        }
        .itemt{
            display: flex;
            .ava{
                width: 100px;
                flex-shrink: 0;
            }
        }
    }
}

.box-conso{
    .item{
        text-transform: uppercase;
        font-size: 16px;
        padding: 40px;
        background: #fff;
        text-align: center;
        .number{
            font: 400 64px/1.3 var(--font2);
            margin-bottom: 10px;
            color: #00126D;
            font-feature-settings: "pnum" on, "lnum" on;
        }
        &:nth-child(1),&:nth-child(2){
            grid-column: span 2;
        }
    }
    @media screen and (max-width:767px) {
        .grid{
            column-gap: 8px;
            row-gap: 8px;
        }
        .item{
            padding: 20px;
            .number{
                font-size: 46px;
            }
        }
    }
}

.box-thi-dua{
    .item{
        font-size: 14px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        gap: 12px;
        p{margin-bottom: 0;}
        .year{
            color: #755C1B;
            font-size: 19px;
            font-weight: 600;
            width: 100%;
        }
        .name{
            font-size: 18px;
            font-weight: 600;
            width: 100%;
            margin-bottom: 0;
        }
    }
    @media screen and (max-width:767px) {
        .grid{
            grid-template-columns: repeat(1, 1fr);
            column-gap: 40px;
            row-gap: 40px;

        }
    }
}

.bottom-img{
    position: relative;
    padding-right: 32px;
    .bottom{
        position: absolute;
        border: 4px solid #fff;
        width: 40%;
        bottom: -40px;
        right: 0;
    }
}

.box-su-menh{
    background: #f4f6f8 url(images/graphics/su-menh.jpg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: left;
    .text-post{
        max-width: 550px;
        font-size: 18px;
        line-height: 1.6;
        margin-left: auto;
        text-align: right;
        padding-top: 200px;
        padding-bottom: 150px;
        position: relative;
        *{position: relative;z-index: 1;}
        &::before{
            content: "";
            background: linear-gradient(288deg, #F4F6F8 39.33%, rgba(244, 246, 248, 0.00) 81.62%);
            position: absolute;
            width: 500px;
            height: 100%;
            top: 0;
            left: -50%;
        }
    }
    @media (max-width: 1199px) {
        .text-post{
            padding-top: 100px;
            padding-bottom: 70px;
            max-width: 460px;
        }
    }
    @media (max-width: 991px) {
        background-size: 70%;
        .text-post{
            padding-top: 30px;
            padding-bottom: 30px;
            max-width: 400px;
        }
    }
    @media (max-width: 767px) {
        background: #f4f6f8;
        .text-post{
            padding: 30px 0;
            margin: 0 auto;
            text-align: left;
            max-width: 100%;
        }
    }
    @media (max-width: 576px) {
       padding-top: 20px;
    }
}

.slide-history{
    position: relative;
    z-index: 1;
    .swiper-container{
        &::before{
            content: "";
            position: absolute;
            height: 15px;
            background: #0e2b73;
            width: 100%;
            top: 50%;
            margin-top: -7px;
        }
    }
    .swiper-slide{
        width: 307px;
        margin-right: 45px;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        gap: 75px;
        &:first-child{
           margin-left: 200px;
        }
        .content{
            display: flex;
            flex-wrap: wrap;
            background: #fff;
            color: rgba(0, 0, 0, 0.65);
            font-size: 16px;
            line-height: 1.6;
            padding: 24px;
            .year{
                font-size: 30px;
                font-weight: 400;
                width: 100%;
                color: #000;
            }
        }
        .img{
            width: 80%;
            border: 4px solid #fff;
        }
        &:nth-child(2n){
            .content{
                order: 2;
                .year{order: 1;}
                .des{order: 2;}
            }
            .img{
                order: 1;
            }
        }
    }

    .timeline {
        white-space: nowrap;
        // overflow-x: hidden;
        padding-top: 20px;
        p{margin-bottom: 0;}
        time {
            display: block;
            font-size: 1.7rem;
            font-weight: 400;
            color: #000;
            width: 100%;
            margin-bottom: 0;
        }
        .img{
            position: absolute;
            max-width: 230px;
            width: 100%;
            left: 0;
            top: 50px;
        }
        ol {
            font-size: 0;
            width: 100vw;
            padding: 500px 0;
            transition: all 1s;
            li {
                position: relative;
                display: inline-block;
                list-style-type: none;
                width: 340px;
                height: 20px;
                background: #0e2b73;
                &::before{
                    content: "";
                    background: url(images/graphics/vector.png);
                    background-size: cover;
                    background-position: left;
                    width: 100%;
                    height: 42px;
                    position: absolute;
                }
                &:first-child { 
                    width: 400px;
                    .content{
                        left: inherit;
                        right: 40px;
                    }
                    .img{
                        left: inherit;
                        right: 40px;
                    }
                    &::before{display: none;}
                }
                &:last-child { width: 280px; }
                .content {
                    position: absolute;
                    left: 0;
                    width: 300px;
                    height: auto !important;
                    padding: 20px;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 6px;
                    font-size: 1rem;
                    white-space: normal;
                    color: rgba(0, 0, 0, 0.65);
                    background: white;
                }
                &:nth-child(odd){
                    .content {
                        top: -30px;
                        transform: translateY(-100%);
                    }
                }
                &:nth-child(even){
                    &::before{
                        transform: rotateX(180deg);
                        top: -22px;
                    }
                    .content{
                        top: calc(100% + 30px); 
                        time{order: 1;}
                        p{order: 2;}
                    }
                    .img{
                        top: inherit;
                        bottom: 50px;
                    }
                }
            }
        }

    }
    

    /* TIMELINE ARROWS
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
    .timeline .arrows {
        display: flex;
        gap: 4px;
        justify-content: end;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        button{
            background: #f9f9f9;
            color: #0F2B72;
            border: 0;
            width: 34px;
            height: 56px;
            font-size: 30px;
            cursor: pointer;
            opacity: 1;
            outline: 0;
            &:hover{
                background: #0F2B72;
                color: #fff;
            }
            &.disabled{

            }
        }
    }

    /* GENERAL MEDIA QUERIES
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
    @media screen and (max-width: 599px) {
        .title-cate2{
            text-align: center;
        }
        .timeline{
            padding:0 15px 0 50px;
            ol, ol li{width: auto!important; }
            time{font-size: 22px;}
            .arrows{display: none;}
        }
        
        .timeline ol {
            padding: 0;
            transform: none !important;
            li {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                background: #fff;
                padding: 15px;
                height: auto;
                margin-bottom: 15px;
                &::before{
                    content: "";
                    background: #0e2b73;
                    width: 8px;
                    top: 0 !important;
                    bottom: -15px;
                    left: -30px;
                    height: auto;
                }
                &::after{
                    content: "";
                    background: url(images/graphics/mvector.png);
                    background-size: 23px;
                    background-position: top;
                    display: block;
                    width: 23px;
                    position: absolute;
                    top: 0px;
                    bottom: 0;
                    left: -30px;
                }
                .content{
                    width: 100%;
                    height: auto !important;
                    position: static; 
                    padding: 0;
                    order: 2;
                    time{order: 1;}
                    p{
                        order: 2;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 4;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                    }
                }
                .img{
                    position: static;
                    max-width: 100%;
                    order: 1;
                    
                }
                &:first-child{
                    &::before{display: block;}
                }
                &:nth-child(odd),&:nth-child(even){
                    .content { 
                        transform: none;
                        &::before{
                            left: 50%;
                            top: 100%;
                            transform: translateX(-50%);
                            border: none;
                            border-left: 1px solid white;
                            height: 25px;
                        }
                    }
                }
            }
        }

    }

}

.nav-category{
    li{
        margin-bottom: 3px;
        a{
            display: block;
            position: relative;
            padding: 12px 30px 12px 16px;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 16px;
            background: #fff;
            i{
                position: absolute;
                right: 16px;
                top: 50%;
                margin-top: -9px;
            }
        }
        &.active{
            a{
                background: #0E2A72;
                color: #fff;
            }
        }
    }
}

.accordion{

    .card{
        border: 0;
    }
    .card-header{
        padding: 0;
        background: none;
        border-bottom: 0;
        .btn-link{
            padding: 10px;
            display: block;
            font-size: 20px;
            cursor: pointer;
            position: relative;
            &::after{
                content: "";
                border-bottom: 1px solid #B73235;
                border-right: 1px solid #B73235;
                width: 10px;
                height: 10px;
                transform: rotate(45deg);
                transition: .1s all;
                position: absolute;
                right: 15px;
                top: 22px;
            }
            &[aria-expanded='true']{
                &::after{
                    transform: rotate(-135deg);
                }
            }
        }
    }
    .card-body{
        padding: 0;
    }
}
.list-project{
    .article-new{
        overflow: hidden;
        .title{
            font-weight: 400;
            font-size: 16px;
            text-transform: uppercase;
        }
        .article-content{
            position: absolute;
            background: #0E2A72;
            color: #fff;
            padding: 16px;
            bottom: 0;
            transform: translateY(100%);
            transition: 0.35s all;
            .view-detail{
                display: flex;
                font-size: 15px;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                i{margin-top: -2px;}
            }
        }
        a{
            &:hover{color: #fff;}
        }
        &:hover{
            .article-content{transform: translateY(0%);}
            
        }
    }
    @media (max-width: 600px) {
        .grid {
            grid-template-columns: repeat(1, 1fr);
        }
        .article-new {
            gap: 0;
            .title{
                font-weight: 600;
                line-height: 1.5;
            }
            .article-content{
                position: static;
                transform: translateY(0%);
                color: #333;
                background: #fff;
            }
        }
        &.service{
            .grid {
                column-gap: 8px;
                row-gap: 8px;
                counter-reset: counter;
            }
            .article-new{
                counter-increment: counter;
                &::before{
                    content: counter(counter) ". ";
                    color: #000;
                    font-weight: 500;
                    font-size: 24px;
                    position: absolute;
                    z-index: 1;
                    top: 10px;
                    left: 15px;
                }
                .article-thumb{display: none;}
                .title{
                    font-weight: 400;
                }
                .article-content{
                    padding: 12px 12px 12px 62px;
                }
                .view-detail{
                    width: auto;
                    gap: 10px;
                }
            }
        }
    }
}
.list-article-white{
    .article-new{
        background: #fff;
        gap: 0;
        .article-content{
            padding: 15px;
        }
    }
}

.project-hot{
    .title-name{
        background: #0E2A72;
        color: #fff;
        font: 700 16px/1.6 var(--font2);
        text-transform: uppercase;
        text-align: center;
        margin: 0;
        padding: 6px;
    }
    .article-new{
        background: #fff;
        .article-content{
            padding: 0 15px 15px 15px;
        }
        .title{
            text-transform: uppercase;
            font-size: 16px;
        }
    }
}

.box-thong-ke{
    .title-name{
        background: #ECECEC;
        color: #565656;
        font: 700 16px/1.6 var(--font2);
        text-transform: uppercase;
        text-align: center;
        margin: 0;
        padding: 6px;
    }
    ul{
        margin-bottom: 0;
        li{
            display: flex;
            gap: 5px;
            align-items: center;
            color: #4F4F4F;
            font-size: 16px;
            margin-bottom: 6px;
            svg{
                width: 16px;
                flex-shrink: 0;
            }
        }
    }
}

.page-contact{
    color: #333;
    .title{
        font-family: var(--font2);
        line-height: 1.2;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .h1{
        font-size: 36px;
    }
    .h2{
        font-size: 24px;
    }
    p{margin-bottom: 5px;}
    .star{
        li{
            position: relative;
            padding-left: 25px;
            margin-bottom: 15px;
            .fa-star{
                position: absolute;
                color: #ffc200;
                left: 0;
                top: 5px;
            }
        }
    }
    @media (max-width: 600px) {
        .h1{
            font-size: 28px;
        }
        .h2{
            font-size: 18px;
        }
    }
}

@media (max-width: 1199px) {
    .bg-main{
        background: none;
        padding: 20px 0 0 0;
        &::before{display: none;}
    }
    .bg-white.pd-20{
        padding: 0;
    }
    
}
@media (max-width: 991px) {
    .buid-top{
        .article-new{
            border-bottom: 1px solid #e5e5e5;
            padding-bottom: 20px;
            margin-bottom: 20px;
            .des{display: none;}
        }  
        .grid__4{
             grid-template-columns: repeat(1, 1fr);
             .article-new{
                 flex-wrap: nowrap;
                 .article-thumb{
                     width: 150px;
                     flex-shrink: 0;
                 }
             }
        }
     }
}
@media (max-width: 767px) {
    .buid-top{
        .article-new{
            .des{display: block;}
        }  
    }
    .bg-main,.bg-gray{
        &::before{
            display: none;
        }
    }
    .bg-gradient{
        padding: 30px 0;
    }
    .box-hot-view{
        background: #f4f6f8;
        padding: 15px;
        margin-left: -15px;
        margin-right: -15px;
        width: calc(100% + 30px);
    }
}

